{template "wap","header"}
<div class="adds" id="hd">{wap_pos($typeid)}</div>

{loop subtype($typeid)  $s}
  {php $typeid=$s[typeid]}
  {php $catType=catType($s[cat])}
  {php $catType2=catType2($s['parentid'])}

  {pc:wap action="lists" typeid="$typeid" num="10" order="id DESC" return="info"}
  <?php
    if($catType == 0) {
      echo '<h2><a href="'.list_url($typeid).'" class="cat">'.$s['typename'].'</a></h2>';
    }elseif(($catType == 2) && ($catType2 == 2) && ($lt == 0)){
        echo '<h2><a href="#" class="cat">外部连接</a></h2>';
        $lt++;
    }

    foreach ($info as $i) {
      if($catType == 0) {
        echo '<a href="'.show_url($i[catid],$i[id],$i['typeid']).'" title="'.$i['title'].'">'.str_cut($i['title'],26,'').'</a><br/>';
      }elseif($catType == 1){
        echo '<a href="'.show_url($i[catid],$i[id],$i['typeid']).'" title="'.$i['title'].'">'.str_cut($i['title'],26,'').'</a><br/>';
      }elseif(($catType == 2) && ($catType2 == 2)){
        echo '<a href="'.$i['url'].'">'.$i['catname'].'</a><br/>';
      }
    }
    ?>
  {/pc}
{/loop}

{template "wap","footer"}